@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.montbold {
  font-weight: 600;
}

.montverybold {
  font-weight: 700;
}

.montlight {
  font-weight: 400;
}

.neushadows {
  box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
  /* box-shadow: 4px 4px 8px #d9d9d9, -4px -4px 8px #ffffff; */
}
