@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.montbold {
  font-weight: 700;
}

.montlight {
  font-weight: 400;
}
